.header__container{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.content__container{
}

.top__block{
  display: flex;
  margin-top: 6vh;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.news__container{

}

.players__container{
  display: flex;
  flex-direction: column;
  margin: 0 30px;

}

.topteams__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  font-size: 20px;
  font-family: Poppins-Medium;
  opacity: 0.5;

}
.button__container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  button{
    font-size: 16px;
    font-family: Poppins-Medium;
    padding: 0;
    border: none;
    background: none;
    margin-right: 10px;
  }
  .arrow {
    width: 15px;
    height: 15px;
    margin-top: 10%;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    transform: rotate(45deg);
    display: inline-block;
    transition: 1s;
  }
}
