header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 20px;

  .logo {
    position: relative;
    h1 {
      font-family: ArchivoBlack-Regular;
      margin-left: 20px;
      font-size: 28px;
    }

    :after {
      transform: skew(-10deg);
      position: absolute;
      left: 0;
      top: 2px;
      content: '';
      background-color: #1545c5;
      width: 10px;
      height: 26px;
    }
  }

  .nav__container {
    display: flex;
  }

  .button {
    background-color: #f1f2f6;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

}