.container{
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: Poppins;
  font-size: 1.1rem;
  color: #a0a0a0;

  .item{
    display: flex;
    margin: 2rem 0;
    padding-left: 50px;
    align-items: center;
    cursor: pointer;

    .img{
      margin-right: 1rem;
      height: 2.5rem;
      width: 2.5rem;

      img{
        height: 100%;
      }
    }
  }
}